@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  height: 100%;
}
body {
  background-color: black;
  color: antiquewhite;
  font-family: "MedievalSharp", cursive;
}
.root {
  display: flex;
  flex-direction: column;
}
